@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --clr-primary-100: hsl(0, 100%, 68%);

  --clr-neutral-400: hsl(230, 29%, 20%);
  --clr-neutral-300: hsl(230, 11%, 40%);
  --clr-neutral-200: hsl(231, 7%, 65%);
  --clr-neutral-100: hsl(207, 33%, 95%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-heading: "Barlow Condensed", sans-serif;
  --ff-body: "Barlow", sans-serif;

  /* mobile: 375, desktop 1440*/
}

/* GENERAL STYLING AND RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
}

main {
  overflow-x: hidden;
  padding-top: 2rem;
}

/* NAVIGATION */

.nav-container {
  padding: 4rem 8%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;

  letter-spacing: 0.05rem;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
}

.nav-list :nth-child(4) {
  color: var(--clr-neutral-200);
}

.nav-list :nth-child(5) {
  color: var(--clr-neutral-200);
}

.nav-list a {
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}

@media (max-width: 47em) {
  .nav-list :nth-child(5) {
    border-top: 1px solid var(--clr-neutral-200);
    padding-top: 1rem;
  }

  .nav-list :nth-child(4) {
    display: none;
  }
}

/* CONTENT */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  place-items: center;
}

.main-content {
  margin-left: 8%;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-content {
    margin-left: 1.25rem;
  }

  .feature-img {
    margin-bottom: 5rem;
  }
}

.main-content * {
  margin: 1rem 0;
}

.main-content h2,
.button-text h4 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-200);
  font-size: 1.5rem;
  letter-spacing: 0.35rem;
}

.main-content h2 {
  line-height: 1.5rem;
}

.main-content h2 span {
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);

  border-radius: 50px;
  padding: 0.25rem 0.5rem;

  letter-spacing: normal;
}

.main-content h1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: 4.5rem;
}

@media (max-width: 1000px) {
  .main-content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 47em) {
  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content h2,
  .main-content h4 {
    font-size: 1rem;
  }

  .main-content h4 {
    letter-spacing: 0.2rem;
  }
}

.main-content p {
  color: var(--clr-neutral-300);
}

.button-text {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-family: var(--ff-heading);
}

.button-text button {
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.9rem;

  border: none;
  border-radius: 5px;

  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.button-text button:hover {
  opacity: 80%;
}

.feature-img {
  position: relative;
  right: -20%;

  transform: scale(1.2);
}

/* hamburger */

@media (min-width: 47em) {
  .mobile-nav-toggle {
    display: none;
  }
}

@media (max-width: 47em) {
  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .primary-navigation {
    display: none;
    position: absolute;
    padding: 2rem;
    inset: 8rem 1rem auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--clr-neutral-100);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: 1.25rem;
    text-align: center;
    font-weight: var(--fw-bold);

    padding: 0%;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 0.875rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 1em;
    margin-right: 1em;
    width: 1.65rem;
    aspect-ratio: 1;

    background-image: url(/images/icon-hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(/images/icon-close.svg);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* GREY ELEMENT */

body::before {
  content: "";
  position: absolute;
  top: 0px !important;
  right: 0px;
  width: 50% !important;
  height: 35%;
  background-color: var(--clr-neutral-100);
  border-radius: 0px 0px 0% 55px;
  z-index: -1;
}

@media (max-width: 47em) {
  body::before {
    height: 65%;
  }
}
